<h1>Listing vendors</h1>
<%= link_to 'New Vendor', new_vendor_path %>

<div>
  <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= image_tag vendor.image.url(:medium) %></td>
          <td><%= vendor.vname %></td>
          <td><%= link_to 'Show', vendor_path(vendor) %></td>

          <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
          <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
  </tbody>
</div>



