<%= form_for @brand, html: { multipart: true } do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

<% Vendor.all.each do |vendor| %>
  <div>
  <%= check_box_tag :vendor_ids, vendor.vname, @brand.vendors.include?(vendor), :vname =>'brand[vendor_ids][]' %>
  <%= label_tag :vendor_ids, vendor.vname %>
  </div>
  <% end %>
  <%= submit_tag %>
  <% end %>